<div class="contactMessageSent ">
        <div class="row">
            <div class="col-md-6">
                <h2 class="mt-0">Message sent</h2>
            </div>
        </div>
    
        
        <div class="message">
            
           <span class="far fa-check mr-1"></span>
  
            <p>
                Thanks for getting in touch.<br />
                Your message has been sent successfully.
            </p>
   
        </div>
    </div>
